.main {
  width: 25rem;
  margin: 0 auto;
  background-color: #35b9b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

body {
  width: 25rem;
  margin: 0;
}

.container {
  width: 23rem;
  display: flex; /* 设置容器为flex布局 */
  align-items: center; /* 设置子元素在垂直方向上居中对齐 */
  background-color: #115e59;
  border-radius: 2rem;
  justify-content: space-between;
  margin: 0 auto;
}

.list-group {
  width: 23rem;
  background-color: #35b9b3;
  padding-bottom: 1rem;
}

#name {
  margin-right: 10px; /* 设置名字和图片之间的间距 */
}

#image {
  width: 3.4rem;
  border-radius: 2rem;
}
#job-list {
  background-color: #115e59;
  margin: 0 auto 0 auto;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
}

/* 给按钮添加基本的样式 */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1rem;
}

/* 给按钮添加成功的颜色 */
.btn-success {
  color: white;
  background-color: #377cfb;
}

/* 给按钮添加轮廓的样式 */
.btn-outline {
  color: #eeaf3a;
  background-color: transparent;
  border: 2px solid #1fd65f;
}

.btn:hover {
  background-color: #377cfb;
}

#job-count {
  font-size: 1rem; /* 16px */
  font-weight: 800;
  line-height: 1.5rem; /* 24px */
  color: rgb(96, 165, 250); /* sky-400 */
  opacity: 1; /* 100% */
  margin: 0 5rem 0 auto;
}

/* 给段落添加文字颜色 */
li {
  padding-top: 1rem;
  font-size: 1.2rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
  color: rgb(96, 165, 250); /* sky-400 */
}

/* 给段落添加鼠标悬停时的文字颜色 */
li:hover {
  color: #e2e8f0;
}

.main2 {
  width: 60%;
  margin: 11% auto 1% auto;
  position: relative;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 3px;
}

/* Design slider button */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectBtn {
  height: 30px;
  width: 30px;
  background-image: url(https://fadzrinmadu.github.io/hosted-assets/range-slider-using-html-and-css/icon.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
}
#selectValue {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  background: #ffd200;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}
#selectValue::after {
  content: "";
  border-top: 16px solid #ffd200;
  border-left: 15.3px solid #35b9b3;
  border-right: 15.3px solid #35b9b3;
  position: absolute;
  bottom: -12px;
  left: 0px;
}
#progressBar {
  width: 50%;
  height: 7px;
  background: #ffd200;
  border-radius: 3px;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.last {
  font-size: 1.5rem; /* 16px */
  font-weight: 800;
  line-height: 1.5rem; /* 24px */
  color: rgb(96, 165, 250); /* sky-400 */
  opacity: 1; /* 100% */
  margin: 1rem 5rem 1rem 1rem;
}
